---
import { getBlogDetail, getBlogs } from '../../libs/macrocms';
import Layout from '../../layouts/Layout.astro';
import ImageWrapper from '../../components/ImageWrapper.astro';

export async function getStaticPaths() {
  const BlogData = await getBlogs({ fields: 'id' });
  return BlogData.contents.map(blog => ({
    params: {
      blogId: blog.id,
    },
  }));
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
const publishedAt = new Date(blog.publishedAt).toLocaleString('ja-JP', {
  year: 'numeric',
  month: 'numeric',
  day: 'numeric',
});
---

<Layout title="blogs" pageType="blogId">
  <main class="main">
    <div class="bg"></div>
    <div class="inner">
      <h1 class="title">{blog.title}</h1>
      <p class="date">
        公開日：{publishedAt}
      </p>
      <!-- {publishedAt !== updatedAt && <p class="date">更新日：{updatedAt}</p>} -->
      <div class="eyecatch">
        <ImageWrapper
          src={blog.eyecatch.url}
          width={blog.eyecatch.width}
          height={blog.eyecatch.height}
          alt=""
        />
      </div>
      <div class="editor">
        <div set:html={blog.content} />
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  @import '../../styles/_single';

  .inner {
    width: vw(800);
    padding: 100px 0 80px;
    margin: auto;

    @include sp() {
      width: vw_sp(250);
      margin: vw_sp(100) auto 0;
    }
  }

  .title {
    font-size: 40px;

    @include sp() {
      font-size: vw_sp(28);
    }
  }

  .date {
    margin: 30px 0 0;
  }

  .date + .date {
    margin: 0;
  }

  .eyecatch {
    margin: 30px 0 0;
  }
</style>

<style lang="scss" is:global>
  @import '../../styles/_single';

  img {
    width: 100%;
    height: auto;
  }

  .editor {
    margin: 80px 0 0;

    h2 {
      position: relative;
      width: fit-content;
      margin: 2.5rem 0 0;
      font-size: vw(28);
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.05em;

      @include sp() {
        margin: 6.666rem 0 0;
        font-size: vw_sp(24);
      }

      .border {
        padding: 0 0 0.375rem;
        background: linear-gradient(
          transparent calc(100% - 0.166rem),
          $color-base-black 0.166rem
        );

        @include sp() {
          padding: 0 0 1rem;
          background: linear-gradient(
            transparent calc(100% - 0.5rem),
            $color-base-black 0.5rem
          );
        }
      }
    }

    h3 {
      position: relative;
      width: fit-content;
      padding: 0 0 0 0.5rem;
      margin: 2.083rem 0 0;
      font-size: vw(24);
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.05em;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: vw(4);
        height: 100%;
        content: '';
        background-color: $color-base-black;

        @include sp() {
          width: vw_sp(3);
        }
      }

      @include sp() {
        padding: 0 0 0 1.833rem;
        margin: 6.666rem 0 0;
        font-size: vw_sp(18);
      }
    }

    h4 {
      margin: 1.666rem 0 0;
      font-size: vw(18);
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.05em;

      @include sp() {
        margin: 6.333rem 0 0;
        font-size: vw_sp(16);
      }
    }

    p {
      margin: 1.666rem 0 0;
      font-size: vw(16);
      font-weight: 400;
      line-height: 1.875;
      letter-spacing: 0;

      @include sp() {
        margin: 6rem 0 0;
        font-size: vw_sp(12);
      }

      strong {
        font-weight: 700;
      }

      a {
        color: $color-base-blue;
        text-decoration: none;
        border-bottom: vw(1) solid $color-base-blue;
      }

      u {
        text-decoration: none;
        border-bottom: vw(1) solid $color-base-black;
      }

      .marker {
        position: relative;
        z-index: 1;
        display: inline;
        padding: 0 0 0.08rem;
        word-break: break-all;
        background: linear-gradient(
          transparent calc(100% - 0.25rem),
          $color-yellow-marker 0.25rem
        );
      }

      .colorRed {
        color: $color-base-red;
      }
    }

    hr {
      margin: 1.666rem 0 0;

      @include sp() {
        margin: 6rem 0 0;
      }
    }

    blockquote {
      position: relative;
      padding: 0 0 0 1.1rem;
      font-size: vw(16);
      font-weight: 400;
      line-height: 1.875;
      letter-spacing: 0;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: vw(3);
        height: 100%;
        content: '';
        background-color: $color-border-gray;

        @include sp() {
          width: vw_sp(3);
        }
      }

      @include sp() {
        padding: 0 0 0 2.5rem;
        font-size: vw_sp(13);
      }
    }

    ol {
      padding: 0 0 0 0.765rem;
      margin: 1.666rem 0 0;
      font-size: vw(16);
      font-weight: 400;
      line-height: 1.875;
      letter-spacing: 0;
      list-style: decimal;

      @include sp() {
        padding: 0 0 0 2.666rem;
        margin: 6rem 0 0;
        font-size: vw_sp(12);
      }
    }

    ul {
      padding: 0 0 0 0.765rem;
      margin: 1.666rem 0 0;
      font-size: vw(16);
      font-weight: 400;
      line-height: 1.875;
      letter-spacing: 0;
      list-style-type: disc;

      @include sp() {
        padding: 0 0 0 2.666rem;
        margin: 6rem 0 0;
        font-size: vw_sp(12);
      }

      ::marker {
        font-size: vw(16);

        @include sp() {
          font-size: vw_sp(12);
        }
      }
    }

    figure {
      display: block;
      width: vw(600);
      margin: 1.666rem auto 0;

      @include sp() {
        width: 100%;
        margin: 6rem auto 0;
      }
    }

    figcaption {
      margin: 0.333rem 0 0;
      font-size: vw(13);
      font-weight: 400;
      line-height: 2;
      text-align: center;

      @include sp() {
        margin: 1.833rem 0 0;
        font-size: vw_sp(11);
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .iframeWrapper {
      width: 25rem;
      margin: 2.5rem auto 0;

      @include sp() {
        width: 100%;
        margin: 6.666rem auto 0;
      }
    }

    table {
      margin: 2.5rem 0 0;

      @include sp() {
        margin: 6.666rem 0 0;
      }

      th,
      td {
        min-width: calc(29rem / 4);
        padding: 1rem;
        font-size: vw(16);
        line-height: 1.875;
        border: 1px solid $color-border-gray;

        @include sp() {
          font-size: vw_sp(16);
        }
      }

      th {
        background-color: $color-bg-gray-light;

        p {
          font-weight: 700;
          text-align: center;
        }
      }

      p {
        margin: 0;
      }
    }

    .cvSection {
      padding: 1.5rem 3.541rem;
      margin: 1.666rem 0 0;
      border: 1px solid $color-base-gray;
      border-radius: 0.416rem;

      @include sp() {
        padding: 5rem 3rem;
        margin: 6.666rem 0 0;
        border-radius: 1.666rem;
      }

      p {
        margin: 0;
      }
    }

    .buttonWrapper {
      width: fit-content;
      min-width: 12.333rem;
      height: 2.416rem;
      margin: 1rem auto 0;
      text-align: center;

      @include sp() {
        width: 45.666rem;
        height: 13.333rem;
        margin: 3.333rem auto 0;
      }
    }

    .colorSection {
      padding: 1.666rem 2rem;
      margin: 1.666rem 0 0;
      text-align: center;

      @include sp() {
        padding: 6.666rem 8rem;
        margin: 6.666rem 0 0;
      }

      p {
        margin: 0;
      }
    }

    .content2LeftImageWrapper,
    .content2LeftTextWrapper {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      margin: 2.5rem 0 0;

      @include sp() {
        display: flex;
        flex-flow: column;
        margin: 6.666rem 0 0;
      }

      h2,
      h3,
      h4 {
        margin: 0;
      }
    }

    .leftImage {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }

    .rightHeading {
      grid-row: 1 / 2;
      grid-column: 2 / 2;
      width: 16rem;
    }

    .rightText {
      grid-row: 2 / 3;
      grid-column: 2 / 2;
    }

    .leftHeading {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    .leftText {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    .rightImage {
      grid-row: 1 / 3;
      grid-column: 2 / 2;
    }

    .leftHeading,
    .rightHeading {
      width: 16rem;

      @include sp() {
        order: 1;
        width: 100%;
      }
    }

    .leftImage,
    .rightImage {
      width: 15.5rem !important;

      @include sp() {
        order: 2;
        width: 100% !important;
        margin: 6rem 0 0;
      }
    }

    .rightText,
    .leftText {
      width: 16rem;

      @include sp() {
        order: 3;
        width: 100%;
      }

      h3 {
        margin: 0;

        &:nth-child(n + 2) {
          width: 100%;
        }
      }

      p {
        margin: 0.866rem 0 0;

        @include sp() {
          margin: 4.333rem 0 0;
        }
      }
    }

    .rightHeading,
    .rightText,
    .rightImage {
      margin: 0 0 0 auto;
    }
  }

  pre {
    width: 100%;
    padding: 20px;
    white-space: pre-wrap;
    background-color: $color-base-code;
  }

  code {
    color: $color-base-white;
    white-space: pre-wrap;
  }
</style>
