---
import * as Variables from '../variables.astro';
import { getTop } from '../libs/macrocms';

const logData = await getTop({
  fields: ['topTitles'],
});

const logo = logData.topTitles.logo;
const topLInk = Variables.PAGES.index.url;
const footerDescription = logData.topTitles.footerDescription;
const footerCopy = logData.topTitles.copyright;

const navData = [
  [
    {
      primary: true,
      page: 'HOME',
    },
    {
      page: 'New Topics',
      link: '#NewTopics',
    },
    {
      page: 'Our Skills',
      link: '#OurSkills',
    },
    {
      page: 'About',
      link: '#About',
    },
    {
      page: 'Contact',
      link: '#Contact',
    },
  ],
  [
    {
      primary: true,
      page: 'CATEGORIES',
    },
    {
      page: 'Engineer',
      link: '',
    },
    {
      page: 'Designer',
      link: '',
    },
    {
      page: 'Others',
      link: '',
    },
  ],
];
---

<footer class="footer">
  <div class="bg">
    <div class="inner">
      <div class="heding">
        <h2 class="title">
          <a class="link" href={topLInk}
            ><img
              src={logo.url}
              alt=""
              width={logo.width}
              height={logo.height}
            /></a
          >
        </h2>
        <p class="description">{footerDescription}</p>
      </div>
      <nav class="nav">
        {
          navData.map((data: any) => {
            return (
              <ul class="list">
                {data.map((item: any) => {
                  return (
                    <li class="item" data-primary={item.primary && 'ture'}>
                      {item.link ? (
                        <a href={item.link} class="js-anchor-link">
                          <p>{item.page}</p>
                        </a>
                      ) : (
                        <p>{item.page}</p>
                      )}
                    </li>
                  );
                })}
              </ul>
            );
          })
        }
      </nav>
      <div class="copyright">{footerCopy}</div>
    </div>
  </div>
</footer>

<script>
  import { anchorLink } from '../script/module/anchor-link.js';

  anchorLink();
</script>

<style lang="scss">
  @import '../styles/_single';

  .root {
    position: relative;
  }

  .bg {
    background-color: $color-base-black;
  }

  .inner {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 93px vw(80);

    @include sp() {
      display: block;
      width: 100%;
      padding: vw_sp(40) vw_sp(25);
    }
  }

  .title {
    display: inline-block;
    height: 20px;

    @include sp() {
      height: vw_sp(20);
    }
  }

  .link {
    display: block;
    height: 100%;
  }

  img {
    display: block;
    height: 100%;
  }

  .description {
    font-size: vw(14);
    font-weight: 400;
    color: $color-base-white;

    @include sp() {
      margin: vw_sp(10) 0 0;
      font-size: vw_sp(12);
    }
  }

  .nav {
    display: flex;
    margin: 0 0 0 vw(300);
    color: $color-footer-gray;

    @include sp() {
      flex-direction: column;
      margin: vw_sp(43) 0 0;
    }
  }

  .list + .list {
    margin: 0 0 0 vw(70);

    @include sp() {
      margin: vw_sp(60) 0 0;
    }
  }

  .item {
    font-size: vw(12);
    font-weight: 600;

    &[data-primary='ture'] {
      font-size: vw(16);

      @include sp() {
        font-size: vw_sp(16);
        font-weight: 400;
      }
    }

    @include sp() {
      font-size: vw_sp(14);
    }
  }

  .item + .item {
    margin: 20px 0 0;
    transition: 0.3s;

    @include hover() {
      color: $color-base-white;
    }

    @include sp() {
      margin: vw_sp(10) 0 0;
    }
  }

  .item:nth-child(2) {
    margin: 8px 0 0;

    @include sp() {
      margin: vw_sp(10) 0 0;
    }
  }

  .copyright {
    grid-column: span 2;
    font-size: vw(10);
    font-weight: 400;
    color: $color-footer-copy;
    text-align: right;

    @include sp() {
      margin: vw_sp(40) 0 0;
      font-size: vw_sp(10);
    }
  }
</style>
