---
import Category from './Category.astro';
import ImageWrapper from '../components/ImageWrapper.astro';

interface Props {
  BlogData: {
    id: string;
    eyecatch: {
      url: string;
      width: number;
      height: number;
    };
    title: string;
    publishedAt?: string;
    updatedAt?: string;
    category: {
      image: { url: string; width: number; height: number };
      name: string;
    };
    writer?: string;
  };
  splide?: boolean;
}

const { BlogData, splide } = Astro.props;
---

<article class:list=`root blog blogHover ${splide && "splide__slide"}`>
  <a href={`/article/${BlogData.id}`} class="link">
    <div class="blog__inner">
      <div class="blog__img">
        <ImageWrapper
          src={BlogData.eyecatch.url}
          width={BlogData.eyecatch.width}
          height={BlogData.eyecatch.height}
          alt=""
          classValue="image-cover"
        />
      </div>
      <div class="blog__text-area">
        <Category data={BlogData} />
        <h2 class="blog__title">{BlogData.title}</h2>
        <p class="blog__date">
          {
            BlogData.publishedAt &&
              new Date(BlogData.publishedAt).toLocaleString('ja-JP', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              })
          }
        </p>
      </div>
    </div>
  </a>
</article>

<style lang="scss">
  @import '../styles/_single';

  .blog {
    width: vw(318);
    transition: 0.5s;

    @include sp() {
      width: vw_sp(210);
    }
  }

  .link {
    display: block;
    width: 100%;
  }

  .blog__inner {
    height: 100%;
  }

  .blog__img {
    position: relative;
    width: 100%;
    height: vw(170);

    @include sp() {
      height: vw_sp(110);
    }

    .img {
      height: 100%;
      object-fit: cover;
    }
  }

  .blog__text-area {
    padding: 27px 0 0;
    font-family: $noto-sans;

    @include sp() {
      padding: vw_sp(20) 0 0;
    }
  }

  .blog__title {
    height: vw(100);
    margin: 15px 0 0;
    font-size: vw(22);
    font-weight: 700;
    line-height: 1.5;

    @include line-clamp(3);

    @include sp() {
      height: vw_sp(80);
      margin: vw_sp(10) 0 0;
      font-size: vw_sp(17);
    }
  }

  .blog__date {
    color: #979797;
    margin: 15px 0 0;
    font-size: vw(16);

    @include sp() {
      margin: vw_sp(10) 0 0;
      font-size: vw_sp(10);
    }
  }
</style>
<style lang="scss" is:global>
  @import '../styles/_single';

  // ブログ記事のhover時のアニメーション
  .blogHover {
    .blog__img {
      overflow: hidden;

      img {
        transition: 0.3s;
      }
    }

    @include hover() {
      opacity: 0.8;

      .blog__img {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .blog__category__image {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: vw(25);
      transform: translate(-50%, -50%);

      @include sp() {
        width: vw_sp(15);
      }
    }
  }
</style>
