---
import ImageWrapper from '../components/ImageWrapper.astro';

interface Props {
  BlogData: {
    id: string;
    eyecatch: {
      url: string;
      width: number;
      height: number;
    };
    title: string;
    category: {
      publishedAt: string;
      name: string;
    };
  };
  splide?: boolean;
}

const { BlogData, splide } = Astro.props;
---

<article class:list=`root blog ${splide && "splide__slide"}`>
  <a href={`/blog/${BlogData.id}`} class="link">
    <div class="blog__inner">
      <div class="blog__img">
        <ImageWrapper
          src={BlogData.eyecatch.url}
          width={BlogData.eyecatch.width}
          height={BlogData.eyecatch.height}
          alt=""
          classValue="image-cover"
        />
      </div>
      <div class="blog__text-area">
        <p class="blog__category">{BlogData.category.name}</p>
        <h2 class="blog__title">{BlogData.title}</h2>
        <p class="blog__date">
          {
            new Date(BlogData.category.publishedAt).toLocaleString('ja-JP', {
              year: 'numeric',
              month: 'numeric',
              day: 'numeric',
            })
          }
        </p>
      </div>
    </div>
  </a>
</article>

<style lang="scss">
  @import '../styles/_single';

  .blog {
    width: vw(318);
    transition: 0.5s;
  }

  .link {
    display: block;
    width: 100%;
  }

  .blog__inner {
    height: 100%;
  }

  .blog__img {
    position: relative;
    width: 100%;
    height: vw(180);
    opacity: 0.8;

    .img {
      height: 100%;
      object-fit: cover;
    }
  }

  .blog__text-area {
    padding: 27px 0 0;
    font-family: $noto-sans;
  }

  .blog__category {
    display: inline-block;
    padding: 5px vw(15);
    font-family: $font-family-termina;
    font-size: vw(18);
    font-weight: 700;
    color: $color-base-white;
    background-color: $color-base-black;
    border-radius: 9999px;
  }

  .blog__title {
    height: vw(100);
    margin: 15px 0 0;
    font-size: vw(22);
    font-weight: 700;
    line-height: 1.5;

    @include line-clamp(3);
  }

  .blog__date {
    margin: 15px 0 0;
    font-size: vw(16);
  }
</style>
