---
import ImageWrapper from './ImageWrapper.astro';

interface Props {
  data: {
    skill: {
      url: string;
      width: number;
      height: number;
    };
    name: string;
    level: number;
  };
}

const { data } = Astro.props;
---

<div class="root">
  <div class="image">
    <ImageWrapper
      src={data.skill.url}
      width={data.skill.width}
      height={data.skill.height}
      alt=""
    />
  </div>
  <div class="description">
    <p class="name">{data.name}</p>
    <div class="level">
      <span class="level__gauge" style={{ width: `${data.level}0%` }}></span>
    </div>
  </div>
</div>

<style lang="scss">
  @import '../styles/_single';

  .root {
    display: flex;
    gap: vw(18);
    justify-content: center;
  }

  .image {
    position: relative;
    width: vw(40);
    height: vw(40);
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name {
    font-size: vw(16);
    font-weight: 700;
    line-height: 1;
  }

  .level {
    width: vw(200);
    height: vw(10);
    border: 1px solid $color-base-white;
  }

  .level__gauge {
    position: relative;
    display: block;
    height: 100%;
    background-color: $color-base-white;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: vw(198);
      height: 98%;
      content: '';
      border: 1px solid $color-base-black;
    }
  }
</style>
