---
import { getTop } from '../libs/macrocms';
import ImageWrapper from '../components/ImageWrapper.astro';
import BaseLayout from '../components/BaseLayout.astro';
import BaseTitle from '../components/BaseTitle.astro';

const topData = await getTop({
  fields: ['topAboutTitle', 'topAboutMe'],
});

const title = topData.topAboutTitle;
const aboutData = topData.topAboutMe;
const about = [
  [
    {
      image: {
        url: aboutData.image_imai.url,
        width: aboutData.image_imai.width,
        height: aboutData.image_imai.height,
      },
      description: aboutData.description_imai,
    },
  ],
  [
    {
      image: {
        url: aboutData.image_nakayama.url,
        width: aboutData.image_nakayama.width,
        height: aboutData.image_nakayama.height,
      },
      description: aboutData.description_nakayama,
    },
  ],
  [
    {
      image: {
        url: aboutData.image_shigeta.url,
        width: aboutData.image_shigeta.width,
        height: aboutData.image_shigeta.height,
      },
      description: aboutData.description_shigeta,
    },
  ],
];
---

<BaseLayout background="black">
  <BaseTitle title={title} />
  <div class="contents">
    <ul class="list">
      {
        about.map((data: any) => {
          return (
            <li class="item">
              {data.map((item: any) => {
                return (
                  <div class="wrapper">
                    <div class="image">
                      <ImageWrapper
                        src={item.image.url}
                        width={item.image.width}
                        height={item.image.height}
                        alt=""
                        classValue="image-cover"
                      />
                    </div>
                    <p class="text whitespace-pre">{item.description}</p>
                  </div>
                );
              })}
            </li>
          );
        })
      }
    </ul>
  </div>
</BaseLayout>

<style lang="scss">
  @import '../styles/_single';

  .contents {
    margin: 60px 0 0;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: vw(45);
  }

  .item {
    width: vw(318);
    font-family: $noto-sans;
  }

  .image {
    position: relative;
    width: 100%;
    height: vw(260);
  }

  .text {
    margin: 30px 0 0;
    line-height: 1.4;
    font-size: vw(14);
    color: white;
  }
</style>
