---
import { getTop } from '../libs/macrocms';
import * as Variables from '../variables.astro';
import ImageWrapper from '../components/ImageWrapper.astro';
import BaseLayout from '../components/BaseLayout.astro';
import BaseTitle from '../components/BaseTitle.astro';
import Button from '../components/Button.astro';
import ViewElement from '../components/ViewElement.astro';
import AnimationBlur from '../components/AnimationBlur.astro';

const topData = await getTop({
  fields: ['topTitles', 'topAboutMe'],
});

const title = topData.topTitles.aboutTitle;
const aboutData = topData.topAboutMe;
const about = [
  [
    {
      image: {
        url: aboutData.image_imai.url,
        width: aboutData.image_imai.width,
        height: aboutData.image_imai.height,
      },
      description: aboutData.description_imai,
    },
  ],
  [
    {
      image: {
        url: aboutData.image_nakayama.url,
        width: aboutData.image_nakayama.width,
        height: aboutData.image_nakayama.height,
      },
      description: aboutData.description_nakayama,
    },
  ],
  [
    {
      image: {
        url: aboutData.image_shigeta.url,
        width: aboutData.image_shigeta.width,
        height: aboutData.image_shigeta.height,
      },
      description: aboutData.description_shigeta,
    },
  ],
];
---

<BaseLayout id="About" background="black" current={4} total={4}>
  <BaseTitle title={title} />
  <div class="contents">
    <ul class="list">
      {
        about.map((data: any) => {
          return (
            <li class="item">
              {data.map((item: any) => {
                return (
                  <div class="wrapper">
                    <ViewElement ratio="-20%">
                      <AnimationBlur>
                        <div class="image">
                          <ImageWrapper
                            src={item.image.url}
                            width={item.image.width}
                            height={item.image.height}
                            alt=""
                            classValue="image-cover"
                          />
                        </div>
                      </AnimationBlur>
                    </ViewElement>
                    <ViewElement ratio="-20%">
                      <AnimationBlur>
                        <p class="text whitespace-pre">{item.description}</p>
                      </AnimationBlur>
                    </ViewElement>
                  </div>
                );
              })}
            </li>
          );
        })
      }
    </ul>
    <div class="button">
      <Button type="black" link={Variables.PAGES.about.url} text="VIEW MORE" />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  @import '../styles/_single';

  .contents {
    margin: 60px 0 0;

    @include sp() {
      margin: vw_sp(30) 0 0;
    }
  }

  .list {
    display: flex;
    gap: vw(45);
    align-items: flex-start;
    justify-content: center;

    @include sp() {
      flex-direction: column;
      gap: vw_sp(50);
    }
  }

  .item {
    width: vw(318);
    font-family: $noto-sans;

    @include sp() {
      width: vw_sp(210);
      margin: 0 auto;
    }
  }

  .image {
    position: relative;
    width: 100%;
    height: vw(260);

    @include sp() {
      height: vw_sp(135);
    }
  }

  .text {
    margin: 30px 0 0;
    font-size: vw(14);
    line-height: 1.6;
    color: $color-base-white;

    @include sp() {
      margin: vw_sp(20) 0 0;
      font-size: vw_sp(14);
    }
  }

  .button {
    width: vw(330);
    margin: vw(65) auto 0;
    text-align: center;

    @include sp() {
      width: vw_sp(240);
      margin: vw_sp(26) auto 0;
    }
  }
</style>
