---
import { getTop } from '../libs/macrocms';
import PageNumber from '../components/PageNumber.astro';

const MvData = await getTop({
  fields: ['topMv'],
});

const mv = MvData.topMv;
const mvBg = mv.topMvBg;
const mvImage = mv.topMvImage;
---

<section class="root">
  <div class="bg">
    <img
      src={`${mvBg.url}?fm=webp`}
      width={mvBg.width}
      height={mvBg.height}
      alt=""
      class="image-cover"
    />
  </div>
  <div class="inner">
    {
      mvImage && (
        <div class="image">
          <igm
            src={`${mvImage.url}?fm=webp`}
            width={mvImage.width}
            height={mvImage.height}
            alt=""
          />
        </div>
      )
    }
    {mv.topMvTitle && <h2 class="title whitespace-pre">{mv.topMvTitle}</h2>}
    {
      mv.topMvSubTitle && (
        <p class="sub-title whitespace-pre">{mv.topMvSubTitle}</p>
      )
    }
    {mv.topMvCatch && <p class="catch whitespace-pre">{mv.topMvCatch}</p>}
  </div>
  <div class="pageNumber">
    <PageNumber current={1} total={4} />
  </div>
</section>

<style lang="scss">
  @import '../styles/_single';

  .root {
    position: relative;
    border-top: 1px solid $color-base-lower-black;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 720px;

    @include sp() {
      width: 100%;
      height: 100vh;
    }
  }

  .inner {
    width: vw(1280);
    height: 720px;
    padding: vw(200) 0 0;
    margin: auto;
    border-right: 1px solid $color-base-lower-black;
    border-left: 1px solid $color-base-lower-black;

    @include sp() {
      width: vw_sp(320);
      height: 100vh;
      padding: vw_sp(100) 0 0;
    }
  }

  .title {
    font-size: vw(40);
    font-weight: 700;
    line-height: 1.6;
    color: $color-base-white;
    text-align: center;
    letter-spacing: 0.04em;

    @include sp() {
      font-size: vw_sp(30);
    }
  }

  .sub-title {
    margin: vw(50) 0 0;
    font-size: vw(40);
    font-weight: 700;
    line-height: 1.6;
    color: $color-base-white;
    text-align: center;
    letter-spacing: 0.04em;

    @include sp() {
      margin: vw_sp(20) 0 0;
      font-size: vw_sp(25);
    }
  }

  .catch {
    margin: vw(40) 0 0;
    font-size: vw(40);
    font-weight: 700;
    line-height: 1.6;
    color: $color-base-white;
    text-align: center;
    letter-spacing: 0.04em;

    @include sp() {
      margin: vw_sp(20) 0 0;
      font-size: vw_sp(30);
    }
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: vw(800);
    transform: translate(-50%, -50%);
  }

  .pageNumber {
    position: absolute;
    top: 50%;
    left: vw(5);
    transform: translateY(-50%);

    @include sp() {
      left: vw_sp(5);
    }
  }
</style>
