---
import { getTop } from '../libs/macrocms';
import ImageWrapper from '../components/ImageWrapper.astro';

const MvData = await getTop({
  fields: ['topMv'],
});

const mv = MvData.topMv;
const mvBg = mv.topMvBg;
const mvImage = mv.topMvImage;
---

<section class="root">
  <div class="bg">
    <ImageWrapper
      src={mvBg.url}
      width={mvBg.width}
      height={mvBg.height}
      alt=""
      classValue="image-cover"
    />
  </div>
  <div class="inner">
    <div class="image">
      <ImageWrapper
        src={mvImage.url}
        width={mvImage.width}
        height={mvImage.height}
        alt=""
      />
    </div>
    <div class="marquee-container">
      <div class="marquee-content">
        <h2 class="title whitespace-pre">{mv.topMvTitle}</h2>
        <p class="sub-title whitespace-pre">{mv.topMvSubTitle}</p>
        <p class="catch whitespace-pre">{mv.topMvCatch}</p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import '../styles/_single';

  .root {
    position: relative;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 720px;
  }

  .inner {
    width: vw(1280);
    height: 720px;
    padding: vw(200) 0 0;
    margin: auto;
  }

  .title {
    font-size: vw(40);
    font-weight: 700;
    line-height: 1.6;
    color: $color-base-white;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .sub-title {
    margin: vw(50) 0 0;
    font-size: vw(40);
    font-weight: 700;
    line-height: 1.6;
    color: $color-base-white;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .catch {
    margin: vw(40) 0 0;
    font-size: vw(40);
    font-weight: 700;
    line-height: 1.6;
    color: $color-base-white;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: vw(800);
    transform: translate(-50%, -50%);
  }

  .marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .marquee-content {
    display: inline-block;
    animation: marquee-slide 20s linear infinite;
  }

  @keyframes marquee-slide {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
</style>
