---
import { getTop } from '../libs/macrocms';
import ImageWrapper from '../components/ImageWrapper.astro';
import BaseLayout from '../components/BaseLayout.astro';
import BaseTitle from '../components/BaseTitle.astro';
import SkillBar from '../components/SkillBar.astro';
import ViewElement from '../components/ViewElement.astro';
import AnimationBlur from '../components/AnimationBlur.astro';

const topData = await getTop({
  fields: ['topTitles', 'topSkills'],
});

const title = topData.topTitles.skillTitle;

const skills = [
  {
    name: topData.topSkills.skill_name_imai,
    work: topData.topSkills.skill_work_imai,
    icon: {
      url: topData.topSkills.skill_icon_imai.url,
      width: topData.topSkills.skill_icon_imai.width,
      height: topData.topSkills.skill_icon_imai.height,
    },
    skills: topData.topSkills.skill_imai,
  },
  {
    name: topData.topSkills.skill_name_nakayama,
    work: topData.topSkills.skill_work_nakayama,
    icon: {
      url: topData.topSkills.skill_icon_nakayama.url,
      width: topData.topSkills.skill_icon_nakayama.width,
      height: topData.topSkills.skill_icon_nakayama.height,
    },
    skills: topData.topSkills.skill_nakayama,
  },
  {
    name: topData.topSkills.skill_name_shigeta,
    work: topData.topSkills.skill_work_shigeta,
    icon: {
      url: topData.topSkills.skill_icon_shigeta.url,
      width: topData.topSkills.skill_icon_shigeta.width,
      height: topData.topSkills.skill_icon_shigeta.height,
    },
    skills: topData.topSkills.skill_shigeta,
  },
];
---

<BaseLayout background="black" current={3} total={4}>
  <ViewElement ratio="-20%">
    <AnimationBlur>
      <BaseTitle title={title} />
    </AnimationBlur>
  </ViewElement>
  <ul class="list">
    {
      skills.map((data: any) => {
        return (
          <li class="item">
            <div class="bg">
              <div class="inner">
                <ViewElement ratio="-20%">
                  <AnimationBlur>
                    <div class="icon">
                      <ImageWrapper
                        src={data.icon.url}
                        width={data.icon.width}
                        height={data.icon.height}
                        classValue="image-cover"
                        alt=""
                      />
                    </div>
                    <h3 class="name">{data.name}</h3>
                    <p class="work">{data.work}</p>
                  </AnimationBlur>
                </ViewElement>
                {data.skills && (
                  <ul class="skils">
                    {data.skills.map((item: any) => {
                      return (
                        <li class="skill">
                          <ViewElement ratio="-20%">
                            <AnimationBlur>
                              <SkillBar data={item} />
                            </AnimationBlur>
                          </ViewElement>
                        </li>
                      );
                    })}
                  </ul>
                )}
              </div>
            </div>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>

<style lang="scss">
  @import '../styles/_single';

  .list {
    display: flex;
    gap: vw(50);
    justify-content: center;
    height: 100%;
    margin: 55px 0 0;
    color: $color-base-white;
  }

  .item {
    position: relative;
    width: vw(311);
    height: 100%;
  }

  .bg {
    width: 100%;
    height: 100%;
    background: url('../images/skill-bg.png') repeat center / contain;
  }

  .inner {
    padding: 55px vw(15) 50px;
  }

  .icon {
    position: relative;
    width: vw(74);
    height: vw(74);
    margin: auto;
  }

  .name {
    margin: 20px 0 0;
    font-size: vw(20);
    font-weight: 700;
    color: $color-base-black;
    text-align: center;
    -webkit-text-stroke: 1px $color-base-white;

    /* stylelint-disable */
    text-stroke: 1px $color-base-white;
    /* stylelint-enable */
  }

  .work {
    font-size: vw(20);
    font-weight: 700;
    color: $color-base-black;
    text-align: center;
    -webkit-text-stroke: 1px $color-base-white;

    /* stylelint-disable */
    text-stroke: 1px $color-base-white;
    /* stylelint-enable */
  }

  .skils {
    margin: 30px 0 0;
  }

  .skill + .skill {
    margin: vw(40) 0 0;
  }
</style>
