---
import BaseHeader from '../components/BaseHeader.astro';
import BaseFooter from '../components/BaseFooter.astro';
import BaseScript from '../components/BaseScript.astro';

// import global styles
import '../styles/_destyle.scss';
import '../styles/_global.scss';
import '../styles/_utility.scss';
import '../styles/_splide-core.min.scss';

interface Props {
  metaTitle: string;
  metaDescription: string;
  ogpImage: {
    url: string;
    width: number;
    height: number;
  };
  favicon: {
    url: string;
    width: number;
    height: number;
  };
  pageType: string;
}

const { metaTitle, metaDescription, ogpImage, favicon, pageType } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/bmd1pfz.css" />
    <link rel="icon" type="image/svg+xml" href={favicon.url} />
    <link rel="apple-touch-icon-precomposed" href={favicon.url} />

    <!-- Primary Meta Tags -->
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content={metaTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={ogpImage.url} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={metaTitle} />
    <meta property="twitter:description" content={metaDescription} />
    <meta property="twitter:image" content={ogpImage.url} />
  </head>
  <body class={pageType}>
    <BaseHeader />
    <slot />
    <BaseFooter />
    <BaseScript />
  </body>
</html>

<style>
  .contact {
    background-color: #000000;
  }
</style>
